@use '/src/styles/constants/colors';

.datePickerContainer {
  width: 100%;
  padding: 12px;

  .tilde {
    padding: 0 20px;
  }

  .date {
    display: inline-block;

    input {
      width: 150px;
      padding: 10px;
      background-color: colors.$MAIN_LIGHTGRAY;
      border: none;
      border-radius: 5px;
    }
  }

  .dateLabelContainer {
    display: flex;
    justify-content: space-between;
    width: 62%;
  }
}

.datePickerButtonContainer {
  display: inline-block;
  padding: 7px;

  button {
    background: colors.$DATE_BUTTON;
    filter: drop-shadow(0 1px 1px rgba(66, 54, 95, 50%));

    &:active {
      filter: none;
    }
  }
}
