@use '/src/styles/constants/colors';

.datePickerContainer {
  width: 100%;
  padding: 20px 28px;

  .tilde {
    margin: 0 10px;
  }

  .dateContainer {
    display: flex;
    justify-content: space-between;

    .dateBox {
      display: inline-block;

      input {
        width: 180px;
        height: 50px;
        padding: 10px 20px;
        color: colors.$MAIN_CONTENTS;
        background-color: colors.$MAIN_LIGHTGRAY;
        border: none;
        border-radius: 30px;
      }
    }
  }

  .dateLabelContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 0 8px;

    > label {
      color: colors.$MAIN_TITLE;
    }
  }
}

.datePickerButtonContainer {
  display: flex;
  align-items: center;
  padding: 5px;

  button {
    background-color: colors.$FANCY_BLUE;
  }
}
