@use '/src/styles/constants/colors';

.userListContainer {
  position: relative;
  min-width: 460px;
  margin-top: 20px;

  p {
    padding: 18px;

    mark {
      color: colors.$BLUE;
      background-color: colors.$MAIN_LIGHTGRAY;
    }
  }

  .userListWrapper {
    overflow: hidden;
    // border-radius: 19px;
    // box-shadow: 0 1px 2px colors.$SUB_TITLE;
  }

  .userListTable {
    width: 100%;
    border-spacing: 0 20px;
    // height: 200px;
    border-collapse: separate;

    .userListSubject {
      padding-top: 16px;
      // border-bottom: 1px solid colors.$GRAY_BORDER;
      // & + & { border-right: 1px solid colors.$WHITE; }
    }

    .userListSubject:nth-child(1) {
      width: 130px;
    }

    .userListSubject:nth-child(2) {
      width: 170px;
    }

    .userListSubject:nth-child(3) {
      width: 250px;
    }

    .userListSubject:nth-child(4) {
      width: 100px;
    }

    svg {
      width: 20px;
      fill: colors.$MAIN_BLANK;
    }

    .listHidden {
      display: hidden;
    }
  }

  .trItem {
    background-color: colors.$WHITE;
    border-left: 10px solid colors.$MAIN_BLUE;

    ::before {
      width: 10px;
      background-color: colors.$MAIN_BLUE;
    }

    td {
      line-height: 65px;
      text-align: center;
    }
  }
}
