@use '/src/styles/constants/colors';

.userListContainer {
  position: relative;
  min-width: 460px;

  .userListWrapper {
    overflow: hidden;
    // border-radius: 19px;
    // box-shadow: 0 1px 2px colors.$SUB_TITLE;
  }

  .userListTable {
    width: 650px;
    margin: 0 auto;
    border-spacing: 0 20px;
    border-collapse: separate;

    .infoIcon {
      position: relative;
      top: 6px;
    }

    .userListSubject {
      padding-top: 16px;
      font-weight: 600;
      color: colors.$MAIN_TITLE;
    }

    .userListSubject:nth-child(1) {
      width: 130px;
    }

    .userListSubject:nth-child(2) {
      width: 170px;
    }

    .userListSubject:nth-child(3) {
      width: 250px;
    }

    .userListSubject:nth-child(4) {
      width: 100px;
    }

    svg {
      width: 25px;
      fill: colors.$MAIN_BLANK;

      &:hover {
        fill: colors.$GRAYA;
      }

      &:active {
        fill: colors.$GRAYA;
      }
    }

    .listHidden {
      display: hidden;
    }
  }

  .trItem {
    position: relative;
    background-color: colors.$WHITE;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 12%), 0 1px 2px rgba(0, 0, 0, 24%);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    &::after {
      position: absolute;
      left: 0;
      width: 10px;
      height: 65px;
      content: '';
      background: #a98af1;
    }

    &.trItem td:nth-child(1)::after {
      position: absolute;
      bottom: 5px;
      left: 125px;
      font-size: 46px;
      color: colors.$MAIN_BLANK;
      content: '|';
      // width: 10px;
      // height: 65px;
    }

    &.trItem:hover {
      // box-shadow: 0 7px 14px rgba(138, 138, 140, 15%), 0 5px 5px rgba(0, 0, 0, 12%);
      box-shadow: 0 2px 7px rgb(138, 138, 140, 10%), 0 5px 8px rgb(0, 0, 0, 12%);
    }

    &.trItem:active {
      // box-shadow: 0 7px 14px rgba(138, 138, 140, 15%), 0 5px 5px rgba(0, 0, 0, 12%);
    }
  }

  &.trItem::before {
    box-sizing: border-box;
    width: 10px;
    // background-color: colors.$MAIN_BLUE;
    background-color: aqua;
  }

  // .trItem:nth-child(1)::after {
  //   box-sizing: border-box;
  // }

  td {
    line-height: 65px;
    text-align: center;
  }
}
