@use '/src/styles/constants/colors';

.userManagementWrapper {
  width: fit-content;
  margin: 0 auto;

  .pathInfo {
    .hasNext {
      color: colors.$GRAY6;

      &::after {
        position: relative;
        margin: 0 7px;
        content: '>';
      }
    }

    .goHome {
      color: colors.$GRAY6;
      user-select: none;
    }

    .currentPath {
      color: colors.$BLACK;
      user-select: none;

      &:link,
      &:visited,
      &:active {
        color: colors.$MAIN_TITLE;
      }
    }

    a:active {
      text-decoration: underline;
    }
  }

  .contents {
    .title {
      padding: 20px 0;
      font-size: 24px;
    }
  }
}
