@use '/src/styles/constants/colors';

.userManagementWrapper {
  display: inline-block;
  width: 60%;
  padding: 10px 0;

  /* TODO 추후 Position 변경 */
  margin: 0 auto;

  .pageName {
    font-weight: 700;
  }

  .pathInfo {
    span {
      padding: 0 4px;
    }

    a:link,
    a:visited,
    a:active {
      color: colors.$BLACK;
    }

    a:active {
      text-decoration: underline;
    }
  }

  .contents {
    max-width: 1024px;

    .title {
      padding: 20px 0;
      font-size: 24px;
      font-weight: bold;
    }
  }
}
