@use '/src/styles/constants/colors';

.userDetailWrap {
  display: inline-block;
  width: 60%;
  height: 94vh;
  padding: 20px 0;
  margin: 0 auto;

  .pathInfo {
    span {
      padding: 0 4px;
    }

    a:link,
    a:visited,
    a:active {
      color: colors.$BLACK;
    }

    a:active {
      text-decoration: underline;
    }
  }

  h2 {
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
    color: colors.$MAIN_TITLE;
  }

  .detailInner {
    padding-bottom: 50px;

    .userProfile {
      position: relative;
      display: flex;
      align-items: center;
      min-width: 700px;
      // max-width: 1040px;
      // padding: 16px 0;
      margin: 0 auto;
      background: #ffffff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 12%), 0 1px 2px rgba(0, 0, 0, 24%);

      &::before {
        top: 0;
        left: 0;
        width: 10px;
        height: 60px;
        content: '';
        background: #a98af1;
      }

      .userSeq {
        position: relative;
        flex: 1;
        margin-left: 16px;
      }

      .userLoginId {
        flex: 2;

        &::before {
          top: 0;
          right: 0;
          width: 12px;
          height: 30px;
          content: '';
          // left: 125px;
          background: #dddddd;
        }
      }

      .userDate {
        flex: 5;
      }

      dt {
        font-size: 12px;
        color: #999999;
      }

      dd {
        padding-left: 16px;
      }

      // .userProfileList {
      //   display: inline-block;
      //   width: 400px;
      //   text-align: center;
      //   border: 1px solid #cccccc;

      //   .profileTitle {
      //     padding: 10px;
      //     text-align: center;
      //   }

      // }
    }

    .trItem {
      display: flex;
      min-width: 1024px;
      padding: 12px 24px;
      background-color: colors.$WHITE;
      // td {
      //   width: 30%;
      //   line-height: 65px;
      //   text-align: center;
      // }
    }
  }

  .chartWrap {
    position: relative;
    display: flex;
    min-width: 700px;
    // max-width: 1040px;
    margin: auto;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 8px;

    .chartTitle {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 20px;
      font-weight: 700;
      color: colors.$MAIN_TITLE;
    }

    .date {
      margin-top: 30px;

      .dateTop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 375px;
        height: 40px;
        line-height: 40px;

        .title {
          margin-left: 20px;
          font-size: 16px;
          font-weight: 600;
          color: colors.$INFO_TITLE;
        }

        .buttonWrap {
          button {
            font-size: 11px;
            background: #a98af1;

            &:hover {
              background: #8d6cdb;
            }
          }
          text-align: center;
        }
      }

      .datePickerInputWrap {
        position: relative;
        display: inline-block;
        width: 130px;
        margin-top: 20px;
        // margin-right: 10px;
        text-align: center;
        vertical-align: center;
        background-color: #f4f4f4;
        border-radius: 20px;

        input {
          display: block;
          width: 100%;
          height: 100%;
          padding: 10px 15px;
          font-weight: bold;
          color: colors.$GRAYA;
          text-align: center;
          cursor: pointer;
        }
      }

      .datePickerInputWrap + .datePickerInputWrap {
        margin-left: 30px;

        &::before {
          position: absolute;
          top: 50%;
          left: -20px;
          font-size: 25px;
          font-weight: bold;
          color: colors.$INFO_TITLE;
          content: '~';
          transform: translateY(-50%);
        }
      }
    }

    .chartWrap {
      height: 280px;
      background-color: black;
      border: 1px solid #666666;
    }

    .infoContainer {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 30px 20px 20px 0;
    }

    .info {
      display: flex;
      justify-content: space-between;
      margin-left: 20px;

      .infoDescription {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 45px;

        .infoTitle {
          margin-bottom: 6px;
          font-size: 16px;
          font-weight: 600;
          color: colors.$INFO_TITLE;
        }

        .infoValue {
          font-size: 35px;
          font-weight: 600;
          color: colors.$MAIN_TITLE;
        }
      }
    }

    // .datePicker {
    //   width: 30%;
    //   text-align: center;
    // }
  }

  .chartContent {
    width: 427px;
    height: 300px;
    padding-left: 10px;
  }
}
