@use '/src/styles/constants/colors';

.basicButton {
  padding: 5px 10px;
  color: colors.$WHITE;
  text-align: center;
  border-radius: 10px;

  &.smallButton {
    width: 50px;
    // height: 25px;
    font-size: 12px;
    background: colors.$COMMON_LIGHTBLUE;
    // filter: drop-shadow(0 1px 1px rgba(66, 54, 95, 50%));
    filter: drop-shadow(0 1px 1px rgba(205, 195, 231, 50%));
    border-radius: 10px;

    &:active {
      filter: none;
    }
  }

  &.largeButton {
    width: 80px;
    padding: 10px 0;
    font-size: 16px;
    background-color: colors.$COMMON_DARKBLUE;
  }

  &:hover {
    background: colors.$COMMON_BLUE;
  }

  &:active {
    background: colors.$COMMON_DARKBLUE;
  }

  & + & {
    margin-left: 5px;
  }
}
