// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$BIG_TITLE: #1f315b;
$TASKS_TITLE: #8f99bf;
$TASK_ITEM_TITLE: #4f566f;

// moa-data
$COMMON_BLUE: #5071be;
$DATE_BUTTON: #a98af1;
$MAIN_BUTTON: #8d6cdb;
$HEADER_TITLE: #6640bf;

$GRAY_BORDER: #eaedf2;
$GRAY_BLOCK: #eff0f6;
$SUB_TITLE: #a4b0be;

// moa-data CSS restart
$MAIN_BLUE: #8c8aff;
$MAIN_LIGHTBLUE: #b8b7ff;
$MAIN_TITLE: #393939;
$MAIN_CONTENTS: #595959;
$MAIN_BLANK: #dddddd;
$MAIN_LIGHTGRAY: #f4f4f4;
$MAIN_LIGHTWHITE: #fdfdfd;

$POPUP_COLOR: #ffffff;
$POPUP_TEXT: #595959;
$POPUP_POINT: #3f8fcc;

$INFO_TITLE: #d5d5d5;
$FLOATING_MESSAGE: #e74671;
$PLACEHOLDER: #bcbcbc;

// moaData new color
$FANCY_BLUE: #026fc2;

// #268C6F #122E40 #e3fc00 #FFF57B #f8f4ad #BFFEFF #FF64B2
