@use '/src/styles/constants//colors';

.container {
  position: fixed;
  left: 250px;
  width: 70%;
  height: 100vh;

  a:link,
  a:visited,
  a:active {
    color: colors.$BLACK;
  }

  a:active {
    text-decoration: underline;
  }

  .pathInfo {
    height: 40px;
  }

  h2 {
    font-weight: 700;
  }
}
