@use '/src/styles/constants//colors';

.userWrapper {
  width: 60%;
  margin: 0 auto;

  .container {
    a:link,
    a:visited,
    a:active {
      color: colors.$BLACK;
    }

    a:active {
      text-decoration: underline;
    }

    .pathInfoSpan {
      height: 40px;
      padding: 0 4px;
      color: colors.$MAIN_TITLE;
    }

    h2 {
      padding: 20px 8px;
      font-size: 20px;
      font-weight: 700;
      color: colors.$MAIN_TITLE;
    }
  }

  .contents {
    display: flex;
    justify-content: center;

    img {
      width: 30%;
      padding: 10px;
      border-radius: 20px;
    }

    .chartImage {
      width: 90%;
    }
  }
}
