@use '/src/styles/constants/colors';

.userListContainer {
  position: relative;
  margin-top: 20px;

  p {
    // position: absolute;
    // top: -35px;
    padding: 18px;

    mark {
      color: colors.$BLUE;
      background-color: colors.$WHITE;
    }
  }

  .userListWrapper {
    // height: 300px;
    // padding: 20px 40px;
    // border: 1px solid #ececec;
    overflow: hidden;
    border-radius: 19px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 25%);
  }

  .userListTable {
    // top: 51px;
    // width: 550px;
    width: 100%;
    height: 200px;

    .userListSubject {
      padding: 16px;
    }

    .userListSubject:nth-child(1) {
      width: 130px;
    }

    .userListSubject:nth-child(2) {
      width: 250px;
    }

    .userListSubject:nth-child(3) {
      width: 170px;
    }

    .userListSubject:nth-child(4) {
      width: 100px;
    }
  }

  .listHidden {
    display: none;
  }

  .userListSubject {
    padding: 8px;
    background-color: #eaedf2;
    > .userlistsubject { border-left: 1px solid #ffffff; }
  }

  tr {
    border-bottom: 1px solid #eaedf2;
  }

  td {
    line-height: 50px;
    text-align: center;
    // border: 1px solid colors.$GRAYA;
  }
}
