@use '/src/styles/constants/colors';

.searchFormBodyContainer {
  padding: 12px;

  .searchFormBody {
    display: inline-block;
    width: 300px;
    padding: 4px 0;

    label {
      width: 200px;
      padding: 10px;
      margin-right: 10px;
      background: colors.$GRAY_BORDER;
      filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 25%));
      // border: 1px solid colors.$GRAYA;
      border-radius: 5px;
    }

    input {
      width: 150px;
      padding: 10px;
      //   margin-left: 10px;
      border: 1px solid colors.$GRAYA;
      border-radius: 5px;

      &:read-only {
        background-color: colors.$GRAY_BLOCK;
      }
    }
  }
}
