@use '/src/styles/constants/colors';

.pathInfo {
  position: relative;
  bottom: 12px;

  span {
    padding: 0 4px;
  }

  a:link,
  a:visited,
  a:active {
    color: colors.$BLACK;
  }

  a:active {
    text-decoration: underline;
  }
}

.searchForm {
  position: relative;
  // display: flex;
  flex-wrap: wrap;
  //   justify-content: space-around;
  width: 650px;
  height: 300px;
  padding: 10px;
  border: 1px solid colors.$GRAYA;
  border-radius: 5px;

  .searchFormBodyContainer {
    padding: 12px;

    .searchFormBody {
      display: inline-block;
      width: 300px;
      // margin-right: 60px;
    }
  }

  label {
    width: 200px;
    padding: 10px;
    margin-right: 10px;
    background: colors.$GRAYA;
    border: 1px solid colors.$GRAYA;
    border-radius: 5px;
  }

  input {
    width: 150px;
    padding: 10px;
    //   margin-left: 10px;
    border: 1px solid colors.$GRAYA;
    border-radius: 5px;

    &:read-only {
      background-color: #e3e3e3;
    }
  }

  .userSearchButtonContainer {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}
