@use '/src/styles/constants/colors';

.searchFormBodyContainer {
  display: inline-block;
  width: 90%;
  padding: 12px;
  margin: 0 auto;

  .searchLabelBox {
    display: flex;
    justify-content: space-between;
    width: 65%;
    height: 40px;
    padding-left: 16px;
  }

  .searchFormBodyBox {
    display: flex;
    justify-content: space-between;

    .searchFormBody {
      display: inline-block;
      // width: 34%;
      width: 270px;
      overflow: hidden;
      background-color: colors.$MAIN_LIGHTGRAY;
      border-radius: 30px;
    }
  }
}
