@use '/src/styles/constants/colors';

.container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 227px);
  height: 50px;
  padding: 0 20px;
  line-height: 50px;

  .loginInfo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;

    span {
      width: 100px;
      margin-right: 12px;
      font-weight: 700;
      color: colors.$MAIN_TITLE;
      letter-spacing: 0;
    }

    button {
      width: 120px;
      height: 40px;
      padding: 0 12px;
      font-weight: 700;
      color: colors.$GRAY2;
      color: colors.$MAIN_BLUE;
      letter-spacing: 0;
      background: colors.$MAIN_LIGHTGRAY;
      border: 1px solid #e6e6e6;
      border-radius: 0.25rem;
      box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 25%);
    }
  }
}
