@use '/src/styles/constants/colors';

.container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 227px);
  height: 50px;
  padding: 0 20px;
  line-height: 50px;

  .loginInfo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;

    span {
      width: 100px;
      margin-right: 12px;
      font-size: 14px;
      color: colors.$MAIN_TITLE;
      letter-spacing: 0;

      b {
        font-size: 16px;
        font-weight: 500;
      }
    }

    button {
      width: 120px;
      height: 35px;
      padding: 0 10px;
      font-weight: 500;
      color: colors.$MAIN_BLUE;
      letter-spacing: 0;
      background: #fdfdfd;
      border-radius: 10px;
      box-shadow: 1px 1px 13px -8px rgba(0, 0, 0, 15%);
    }
  }
}
