@use '/src/styles/constants/colors';
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 40px;
  margin: 12px;
  font-weight: 400;
  line-height: 40px;
  color: colors.$WHITE;
  text-align: center;
  letter-spacing: 0.15px;
  background: #6640bf;
  border-radius: 1rem;

  &.fadein {
    animation: fadein 0.3s;
  }

  &.fadeout {
    opacity: 0;
    transition: opacity 0.3s;
    animation: fadeout 0.3s;
  }
}
