@use '/src/styles/constants/colors';

.searchFormBodyContainer {
  display: inline-block;
  width: 90%;
  padding: 12px;
  margin: 0 auto;

  .searchLabelBox {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 40px;
  }

  .searchFormBody {
    display: inline-block;
    width: 34%;

    input {
      width: 150px;
      padding: 10px;
      background-color: colors.$MAIN_LIGHTGRAY;
      border-radius: 5px;

      &:read-only {
        background-color: colors.$MAIN_BLANK;
      }
    }
  }
}
