@use '/src/styles/constants/colors';

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.loginWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url('/assets/images/loginBg.jpg');
  background-size: cover;
}

.loginInner {
  width: 400px;
  margin-top: -60px;

  .inputIcon {
    position: absolute;
    top: 16px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;

    svg {
      width: 20px;
      max-height: 20px;
      fill: rgb(211, 211, 211);
    }
  }

  header {
    width: 200px;
    height: 44px;
    margin: 0 auto 50px;
  }

  form {
    width: 100%;
    height: 80%;
    padding: 10px 20px;

    .inputWrapper {
      position: relative;
      width: 100%;
      margin-bottom: 20px;

      + .inputWrapper {
        margin-top: 20px;
      }

      input {
        position: relative;
        width: 100%;
        height: 50px;
        padding: 0 4em;
        font-size: 14px;
        font-weight: 300;
        background-color: colors.$WHITE;
        border-radius: 0.25rem;

        &::placeholder {
          font-size: 14px;
          color: colors.$PLACEHOLDER;
          text-align: left;
        }
      }

      .showBtn {
        position: absolute;
        top: 13px;
        right: 13px;

        svg {
          width: 23px;
          min-height: 23px;
          fill: rgb(211, 211, 211);
        }
      }
    }

    .container {
      height: 16px;
      font-size: 16px;
      color: colors.$GRAYE;
      text-align: center;

      .isInvalid {
        display: hidden;
      }

      &.fadein {
        animation: fadein 0.3s;
      }
    }

    .loginBtn {
      width: 100%;
      height: 50px;
      margin-top: 20px;
      font-size: 16px;
      font-weight: 400;
      color: colors.$WHITE;
      letter-spacing: 0.4px;
      background-color: colors.$FANCY_BLUE;
      border-radius: 0.25rem;
    }
  }
}
